[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/Cereal-Optional-NVP"]
	path = lib/Cereal-Optional-NVP
	url = https://github.com/Enhex/Cereal-Optional-NVP/
[submodule "wormaudio-godot/extern/godot-cpp"]
	path = wormaudio-godot/extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
